/* <------------------ SMALL MOBILE ------------------> */
@media (min-width: 0px) and (max-width: 350px){
    body{
        background: linear-gradient(rgb(82, 82, 84), black);
        background-attachment: fixed;
    }
    
    form{
        margin: 140px auto;
        font-size: 14px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 15px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.38);
        width: 250px;
        height: 180px;
        padding: 35px 10px;
    }
    
    #avatar{
        margin-top: -30px;
        margin-bottom: 10px;
        width: 60px;
    }
    
    #senha{
        margin-top: 4%;
    }
    
    input{
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        font-size: 110%;
        padding: 1%;
        margin-bottom: -3px;
        background: transparent;
    }
    
    #entrar{
        background-color: rgba(255, 255, 255, 0.269);
        border: none;
        border-radius: 6%;
        width: 60px;
        height: 20px;
        font-size: 110%;
        text-align: center;
        outline: none;
        cursor: pointer;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #entrar:hover{
        color: white;
        background-color: rgb(42, 41, 41);
    }
    
    #entrar:visited{
        border: none;
        text-decoration: none;
    }

    #cadastro{
        font-size: 14px;
        margin-top: 15px;
        cursor: pointer;
    }
}

/* <------------------ M - MOBILE ------------------> */
@media (min-width: 351px) and (max-width: 400px){
    body{
        background: linear-gradient(rgb(82, 82, 84), black);
        background-attachment: fixed;
    }
    
    form{
        margin: 140px auto;
        font-size: 16px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 15px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.38);
        width: 250px;
        height: 220px;
        padding: 35px 10px;
    }
    
    #avatar{
        margin-top: -30px;
        margin-bottom: 10px;
        width: 80px;
    }
    
    #senha{
        margin-top: 4%;
    }
    
    input{
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        font-size: 110%;
        padding: 1%;
        margin-bottom: -3px;
        background: transparent;
    }
    
    #entrar{
        background-color: rgba(255, 255, 255, 0.269);
        border: none;
        border-radius: 6%;
        width: 60px;
        height: 20px;
        font-size: 110%;
        text-align: center;
        outline: none;
        cursor: pointer;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #entrar:hover{
        color: white;
        background-color: rgb(42, 41, 41);
    }
    
    #entrar:visited{
        border: none;
        text-decoration: none;
    }

    #cadastro{
        font-size: 14px;
        margin-top: 15px;
        cursor: pointer;
    }
}

/* <------------------ LARGE - MOBILE ------------------> */
@media (min-width: 401px) and (max-width: 450px){
    body{
        background: linear-gradient(rgb(82, 82, 84), black);
        background-attachment: fixed;
    }
    
    form{
        margin: 119px auto;
        font-size: 18px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 15px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.38);
        width: 310px;
        height: 255px;
        padding: 35px 10px;
    }
    
    #avatar{
        margin-top: -30px;
        margin-bottom: 10px;
        width: 90px;
    }
    
    #senha{
        margin-top: 4%;
    }
    
    input{
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        font-size: 110%;
        padding: 1%;
        margin-bottom: -3px;
        background: transparent;
    }
    
    #entrar{
        background-color: rgba(255, 255, 255, 0.269);
        border: none;
        border-radius: 6%;
        width: 75px;
        height: 31px;
        font-size: 110%;
        text-align: center;
        outline: none;
        cursor: pointer;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #entrar:hover{
        color: white;
        background-color: rgb(42, 41, 41);
    }
    
    #entrar:visited{
        border: none;
        text-decoration: none;
    }

    #cadastro{
        font-size: 16px;
        margin-top: 15px;
        cursor: pointer;
    }
}

/* <------------------ TABLET ------------------> */
@media (min-width: 451px){
    body{
        background-image: url(fundo.png);
        background-size: cover;
        background-attachment: fixed;
    }
    
    form{
        margin: 11% auto;
        font-size: 125%;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 15px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.476);
        width: 295px;
        height: 247px;
        padding: 35px 10px;
        box-shadow: 3px 3px 0px #ffffff46;
    }
    
    #avatar{
        margin-top: -25px;
        margin-bottom: 10px;
        width: 80px;
    }
    
    #senha{
        margin-top: 4%;
    }
    
    input{
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        font-size: 110%;
        padding: 1%;
        margin-top: 2%;
        background: transparent;
    }
    
    #entrar{
        background-color: rgba(255, 255, 255, 0.269);
        border: none;
        border-radius: 6%;
        width: 26%;
        height: 13%;
        font-size: 110%;
        text-align: center;
        outline: none;
        cursor: pointer;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-shadow: 2px 2px 0px #00000046;
        transition: all .3s ease-out;
    }
    
    #entrar:hover{
        color: white;
        background-color: rgb(42, 41, 41);
        box-shadow: 2px 2px 0px #1616166e;
    }
    
    #entrar:visited{
        border: none;
        text-decoration: none;
    }

}